<div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/infinitocuadradao.jpg" alt="Anillo Infinito" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Anillo Infinito</h5>
        <p class="ae-u-bolder au-mb-3">$2.150</p>
         FALTA EL ICONO DE AGREGAR Y SACAR
        </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/flowerscuadrado.jpg" alt="Anillo Luzy" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Abridores Flowers</h5>
        <p class="ae-u-bolder au-mb-3">$950</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/bolitacuadrado.jpg" alt="Anillo Kiri" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Pulsera Miniball</h5>
        <p class="ae-u-bolder au-mb-3">$3.300</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/heartcuadrado.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Anillo Heart</h5>
        <p class="ae-u-bolder au-mb-3">$2.250</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/estrellacuadrado.jpg" alt="Anillo Infinito" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Abridores Estrella</h5>
    <p class="ae-u-bolder au-mb-3">$980</p>
     FALTA EL ICONO DE AGREGAR Y SACAR
    </div>        
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/lunacuadrado,jpg.jpg" alt="Pulsera Bolita" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Pulsera Moon</h5>
        <p class="ae-u-bolder au-mb-3">$4.600</p>
         FALTA EL ICONO DE AGREGAR Y SACAR
        </div>    

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/luzycuadrado.jpg" alt="Anillo Luzy" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Anillo Luzy</h5>
        <p class="ae-u-bolder au-mb-3">$2.300</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/alaicuadrado.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Argollas Alai</h5>
        <p class="ae-u-bolder au-mb-3">$1.190</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
</div>
<div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/lunacuadrado,jpg.jpg" alt="Pulsera Bolita" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Pulsera Moon</h5>
    <p class="ae-u-bolder au-mb-3">$4.600</p>
     FALTA EL ICONO DE AGREGAR Y SACAR
    </div>

<div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/kiricuadrado.jpg" alt="Pulsera Bolita" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Anillo Kiri</h5>
    <p class="ae-u-bolder au-mb-3">$2.300</p>
     FALTA EL ICONO DE AGREGAR Y SACAR
    </div>

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/argollasbrilloscuadrado.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Mix Bright</h5>
        <p class="ae-u-bolder au-mb-3">$4.500</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/huellacuadrado.jpg" alt="Anillo Kiri" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Pulsera Huella</h5>
        <p class="ae-u-bolder au-mb-3">$3.200</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>


    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/coronacuadrada.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Anillo Queen</h5>
        <p class="ae-u-bolder au-mb-3">$3.100</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/argollascuadrado.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Mix Basic</h5>
        <p class="ae-u-bolder au-mb-3">$2.800</p>
        FALTA EL ICONO DE AGREGAR Y SACAR
    </div>



<div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/ojocuadrado.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Pulsera Trenza</h5>
    <p class="ae-u-bolder au-mb-3">$2.500</p>
    FALTA EL ICONO DE AGREGAR Y SACAR
</div>

<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-5">
        <h4 class="ae-u-bolder">CAMBIOS Y DEVOLUCIONES</h4>
        <p>Todos nuestros productos tienen cambio por 15 días, ante cualquier consulta no dudes en escribirnos a través de nuestrás redes!</p>
    </div>
</div>
