<div id="carouselExampleControls" class="carousel slide au-ml-3 au-mr-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/bienvenidos.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/carrousel.jpg" class="d-block w-100">
      </div>
  </div>

<hr>
  <div class="ae-masonry ae-masonry-md-1 ae-masonry-xl-4 au-ml-auto au-mr-1">
    <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/anillokiri.jpg" alt="">
    <div class="item-meta">
      <h2>Anillo Kiri</h2>
    </div>
</a><a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/abridoresestrella.jpg" alt="">
    <div class="item-meta">
      <h2>Abridores Estrella</h2>
    </div></a>
    <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/heartfinal.jpg" alt="">
        <div class="item-meta">
          <h2>Anillo Heart</h2>
        </div></a>
        <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/mixdeargollas.jpg" alt="">
    <div class="item-meta">
      <h2>Mix Trust</h2>
    </div></a><a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/trenzachica.jpg" alt="">
    <div class="item-meta">
      <h2>Pulsera Trenza</h2>
      
    </div></a>
    <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/pulseraojo.jpg" alt="">
    <div class="item-meta">
      <h2>Pulsera Vibes</h2>
    </div></a>
    <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/luzychica.jpg" alt="">
    <div class="item-meta">
      <h2>Anillo Luzy</h2>
    </div></a>
    <a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/alaichica.jpg" alt="">
    <div class="item-meta">
      <h2>Argollas Alai</h2>
    </div></a><a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/bolitachica.jpg" alt="">
    <div class="item-meta">
      <h2>Pulsera Diamond</h2>

    </div></a><a href="../producto/producto.component.html" class="rk-item ae-masonry__item"><img src="assets/img/abridoresflowers.jpg" alt="">
    <div class="item-meta">
      <h2>Abridores Flowers</h2>
</div>
